.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
*.pyc
*.pyo
*.pyd
*.log
.env
.env.*
mlruns/
artifacts/
IGNORE/
ignore/
!.gitkeep
notebooks/.ipynb_checkpoints/
notebooks/P2C6_TP_cours_effectuees.ipynb
